GameDemo/cocos2d/
GameDemo/proj.android/bin/
GameDemo/proj.android/libs/
GameDemo/proj.android/obj/
GameDemo/proj.linux/
GameDemo/proj.win8.1-universal/
GameDemo/proj.win32/Debug.win32/
GameDemo/bin/
